button {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    font-family: cursive;
    text-align: center;
    color: rgb(171, 220, 171);
    border-radius: 10px;
    background-color: rgb(41, 139, 70);
    background-image: linear-gradient(to top left,
            rgba(0, 0, 0, .2),
            rgba(0, 0, 0, .2) 30%,
            rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
}

/*
Styles the dinosaur and home buttons
*/

button:hover {
    background-color: rgb(48, 164, 83);
}

/*
Changes dino and home button colors when hovered over
*/

body {
    text-align: center;
    background-color: rgb(60, 97, 5);
    font-family: cursive;
    padding: 1em;
    color: rgb(171, 220, 171);
}

/*
Styles and centers text and colors background
*/